{% extends 'base.html' %}
{% block content %}
<figure>
    <video src="static/img/visual.mp4" autoplay muted loop></video>
    <div class="info">
        <h1>ECOSYSTEM</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
            Maiores asperiores, neque exercitationem mollitia velit eaque, voluptates, fugit facere cumque dolore autem voluptatum harum perspiciatis.
            Rem totam laborum quia soluta porro.</p>
    </div>
</figure>
<section>
    <div class="products">
        <h1>대표 제품 소개</h1>
        <article class="face1">
            <!-- <div class="btnPrev">
                <i class="fas fa-chevron-left"></i>
            </div> -->
            <div class="wrap">
                <article>
                    <div class="pic">
                        <img src="static/img/news1.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="static/img/news2.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="static/img/news3.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="static/img/news4.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
            </div>
            <div class="wrap">
                <article>
                    <div class="pic">
                        <img src="static/img/news1.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="static/img/news2.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="static/img/news3.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="static/img/news4.jpg">
                    </div>
                    <h2><a href="#">상품 카테고리</a></h2>
                    <p>상품 제목</p>
                </article>
            </div>
            <!-- <div class="btnNext">
                <i class="fas fa-chevron-right"></i>
            </div> -->
        </article>
    </div>
</section>
{% endblock content %}