{% extends 'base.html' %}
{% block content %}
{% load static %}
<figure>
    <video src="static/img/visual.mp4" autoplay muted loop></video>
    <div class="info">
        <h1>진성테크</h1>
        <p>우수한기기·장비를 개발·공급하여<br>
            우리나라의 임업발전에 도움이 되고자 최선을 다하겠습니다</p>
    </div>
</figure>
<section>
    <div class="products">
        <h1>대표 제품 소개</h1>
        <article class="face1">
            <!-- <div class="btnPrev">
                <i class="fas fa-chevron-left"></i>
            </div> -->
            <div class="wrap">
                {% for i in pd1 %}
                <article>
                    <div class="pic">
                        {% if i.product_photo %}
                        <img src="/media/{{i.product_photo}}">
                        {% else %}
                        <img src="{% static 'img/no_picture.png' %}"/>
                        {% endif %}
                    </div>
                    
                    <h2><a href="{% url 'products_detail' i.pk %}">{{i.title}}</a></h2>
                    <p>{{i.tag}}</p>
                </article>
                {% endfor %}
            </div>
            <div class="wrap">
                {% for j in pd2 %}
                <article>
                    <div class="pic">
                        {% if j.product_photo %}
                        <img src="/media/{{j.product_photo}}">
                        {% else %}
                        <img src="{% static 'img/no_picture.png' %}"/>
                        {% endif %}
                    </div>
                    
                    <h2><a href="{% url 'products_detail' j.pk %}">{{j.title}}</a></h2>
                    <p>{{j.tag}}</p>
                </article>
                {% endfor %}
            </div>
        </article>
    </div>
</section>
{% endblock content %}