{% extends '../base.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}


<style type="text/css">
    #sidebar{
        width:20%;
        padding: 20px;
        float:left;
    }

    #content{
        width:80%;
        float:left;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }


    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    nav{
      width: 100%;
      height: 100px;
    }
    .wrapper{
      text-align: center;
    }
    .card{
      display: inline-block;
      float: left;
      width: 22%;
      border: 1px solid #cecece;
      text-align: center;
      margin-top: 5px;
      margin-right: 5px;
    }
    .card img{
      width: 180px;
      border: 1px solid #cecece;
      margin-top: 10px;
    }

     ul.item {
      margin-left: 20%;
      padding: 0;
      width: 80%;
      background-color: #f1f1f1;
      height: 100%;
    }


    li input {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      border:none; outline:none; box-shadow:none;
    }

    li input.active {
      background-color: #555;
      color: white;
    }

    .item li input:hover:not(.active) {
      background-color: #555;
      color: white;
    }

    .page{
        text-align: center;
    }
</style>

<div id="sidebar">
    <ul class="item">
      {% for tag in tags %}
      <form action="{% url 'pro_tag' %}" method="GET">
      <input type="hidden" id="tag" name="tag" value="{{tag.0}}"/>
      <li><a><input type="submit" value="{{tag.0}}"></input></a></li>
      </form>
      {% endfor %}
    </ul>
</div>

<div id="content">
    <div class="wrapper">
      {% for product in products %}
       <div class="card" style="padding: 10px;">
          {% if product.product_photo %}
          <img src="/media/{{product.product_photo}}" style="width:100%; height:auto;">
          {% else %}
          <img src="{% static 'img/no_picture.png' %}" style="width:100%; height: auto;"/>
          {% endif %}

          <a href="{% url 'products_detail' product.pk %}">{{product.title}}</a>
       </div>
       {% endfor %}
    </div>

    <div class="page">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if products.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          <!--페이지 리스트-->
          {% for page_number in products.paginator.page_range %}
          {% if page_number == products.number %}
          <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
          {% endif %}
          {% endfor %}
          {% if products.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

</div>


<!-- <a href="{% url 'products_update' %}">
  <button>글쓰기</button>
</a> -->

{% endblock content %}