{% extends '../base.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}


<style type="text/css">


    #sidebar{
        width:20%;
        padding: 20px;
        position: relative;
        float:left;
        display: grid;
        line-height: normal;
    }

    #content{
        width:80%;
        height: 80%;
        float:left;
        justify-content: center;
    }

    .detail {
        width:100%;
        text-align: left;
    }

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    nav{
      width: 100%;
      height: 100px;
    }
    .wrapper{
      text-align: center;
      height: 80%;
    }


     ul.item {
      margin-left: 10%;
      padding: 0;
      width: 80%;
      background-color: #f1f1f1;
      height: 80%;
    }


    li input {
      display: block;
      width: 100%;
      text-align: left;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      border:none; outline:none; box-shadow:none;
    }


    li input.active {
      background-color: #555;
      color: white;
    }

    .item li input:hover:not(.active) {
      background-color: #555;
      color: white;
    }

    footer{
        float: left;
    }
</style>


    <div id="sidebar">
        <ul class="item">
          {% for tag in tags %}
          <form action="{% url 'pro_tag' %}" method="GET">
          <input type="hidden" id="tag" name="tag" value="{{tag.0}}"/>
          <li><a><input type="submit" value="{{tag.0}}"></input></a></li>
          </form>
          {% endfor %}
        </ul>
    </div>


    <div id="content">
        <div class="wrapper">
          {% if point.product_photo %}
            <img src="/media/{{point.product_photo}}" style="width:100px; height:auto;">
            {% else %}
            <img src="{% static 'img/no_picture.png' %}" style="width:100px; height: auto;"/>
            {% endif %}

            <h1>{{point.title}}</h1>

            <h5 style="width:100%; text-align: left;">상품상세정보</h5>
            <div class="detail">
                {{point.content | safe}}
            </div>

        </div>
    </div>


{% endblock content %}