{% extends '../base.html' %}
{% block content %}

<script type="text/javascript"> 
    $(document).ready(function() { $("#content").summernote(); }) 
  </script>

<h1>글쓰기</h1>
<form method="post" enctype="multipart/form-data" action="{% url 'products_update' %}">
  {% csrf_token %}
  <table>
    <tr>
      <th>제목</th>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <th>글</th>
      <td><textarea class="form-control" name="content" id="content" rows="10"></textarea></td>
    </tr>
    <tr>
      <th>대표이미지</th>
      <td></td>
    </tr>
    <tr>
      <th>태그</th>
      <td>
        <select name="tag">
          {% for tag in tags %}
          <option value="{{tag.0}}">{{tag.0}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
<!-- <a href="/products"></a> -->
  <button type="submit">완료</button>
</form>
{% endblock content %}