<header>
    <div class="inner">
        <!-- 로고 -->
        <div class="las">
            <a href="{% url 'index' %}"><img src="../static/img/진성테크로고.PNG"></a>
            <form class="search-form" action="{% url 'products' %}" method="post">
                {% csrf_token %}
                <input type="search" name="search" placeholder="Search" class="search-input">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <ul id="navbar">
            <li><a href="#">MENU</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="#">MENU</a></li>
        </ul>
    </div>
</header>